@media screen and (min-width: 768px) {

.header-examples {
    width: 960px;
    height: 145px;
}
  
header h1 {
    padding: 10px;
    padding-left: 50px;
    background-color: rgba(191, 20, 243, 0.663);
    font-size: 150%;
    border-radius: 20px;
}
header img {
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    height: 100px;
   margin-right: 40%;
}
body {
    margin: 0;
    background-color: rgba(191, 20, 243, 0.663);
}
nav {
    padding-top: 50px;
    margin: auto;
    text-align: center;

}
nav li:hover {
    background-color: #9da9aa;
    font-size: 35px;
}
a {
    text-decoration: none;
    color: black;
}
nav li {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    width: 190px;
    height: auto;
    padding: 10px 0;
    font-size: 30px;
    border: 0.5px solid black;
}

h2 {
    border-radius: 15px;
    width: 140px;
    margin: auto;
    text-align: center;
    background-color:rgba(191, 20, 243, 0.663);
}
nav li.active {
    background-color: rgba(191, 20, 243, 0.663);
}
.block1 {
    margin-top: 20px;
    padding: 10px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(191, 20, 243, 0.663);
    border-radius: 10px;
}
a {
    text-decoration: none;
}
.block2 {
    padding: 10px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgba(191, 20, 243, 0.663);
    border-radius: 10px;
    order: 3;
}
table {
    width: 960px;
    margin: auto;
    background-color: rgba(191, 20, 243, 0.663);
    border-radius: 10px;
}
table td {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
table th {
    border-right: 2px solid rgb(255, 255, 255);
    padding: 15px;
}
.nechet td {
    color: rgb(255, 255, 255);
    background-color: rgb(10, 0, 0);
}
.block {
    padding: 10px;
    width: 960px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(191, 20, 243, 0.663);
    border-radius: 10px;
    padding-bottom: 10px;
    order: 3;
}
input[type=text],
input[type=email],
input[type=date] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(191, 20, 243, 0.663);
    border-radius: 4px;
}
input[type=radio] {
    padding: 12px 20px;
}
input[type=date] {
    border: 1px solid rgba(191, 20, 243, 0.663)
}
select option {
    padding: 5px;
    border-bottom: 1px solid rgba(191, 20, 243, 0.663);
}
textarea {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    resize: none;
    border: 1px solid #ccc
}
footer {
    width: 100%;
    height: 130px;
    background-color: rgba(191, 20, 243, 0.663);
    border-radius: 10px;
}
footer h1 {
    width: 100%;
    margin: 0;
    text-align: center;
}
footer img {
    width: 10px;
    height: 200px;
}
table td {
    text-align: center;
}
}
